/*styles go here*/

/*p {
    color: red;
}*/

p {
<<<<<<< HEAD
	color: #666666;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
=======
	color: #000000;
      font-family: 'Open Sans', arial; sans-serif;
			font-style: normal;
			font-size: 16px;
}

h1 {
    font-family: 'Arimo', sans-serif;
		font-style: bold;
		font-size: 45px
		color: #214b74
}

h4 {
	font-family: 'Arimo', sans-serif;
	font-style: bold;
	font-size: 26px
	color: #214b74
}

<<<<<<< HEAD
>>>>>>> 8e637456bce0486a35a04529a215ff3b239d9a57
=======
ul {
	color: #000000;
      font-family: 'Open Sans', arial; sans-serif;
			font-style: normal;
			font-size: 16px;
>>>>>>> ba16f6361b4550cbf46a4181fc5599f3a54b44b2
}

#container{
    width: 95%;
    margin: 0 auto;
}

.nav {
		display: flex;
		flex-direction: column;
    padding: 0;
	  list-style-type: none;
}

@media (min-width: 600px) {
	.nav {
		flex-direction: row;
		justify-content: flex-end;
	}
}

.item {
    margin: 0;
    padding: 0;
	  border-bottom: 1px solid #ccc;
}

.nav a:link, .nav a:visited {
	  display:block;
    color: #f1f0f1;
    background-color: #6eacde;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Arimo', sans-serif;
}

.nav a:hover, .nav a:active {
    background-color: #214b74;
}

.caption {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

#footer {
<<<<<<< HEAD
<<<<<<< HEAD
    color: blue;
=======
    color: white;
=======
    color: #1e4574;
>>>>>>> ba16f6361b4550cbf46a4181fc5599f3a54b44b2
		background-color: #1e4574
>>>>>>> 8e637456bce0486a35a04529a215ff3b239d9a57
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
		display: flex;
		justify-content: space-around;
		flex-direction: row;
}


img {
	border: none;
}
