/*styles go here*/

/*p {
    color: red;
}*/

p {
	color: #000000;
    font-family: 'Open Sans', arial; sans-serif;
}

h1 {
    font-family: 'Arimo', sans-serif;
		font-style: bold;
		font-size: 45px
		color: #214b74
}

h3 {
	font-family: 'Arimo', sans-serif;
	font-style: bold;
	font-size: 40px
	color: #214b74

}

ul {
	color: #000000;
      font-family: 'Open Sans', arial; sans-serif;
			font-style: normal;
			font-size: 16px;
}


#container{
    width: 95%;
    margin: 0 auto;
}

.nav {
		display: flex;
		flex-direction: column;
    padding: 0;
	  list-style-type: none;
}

.class {
		display: flex;
		flex-direction: row;
    padding: 0;
	  list-style-type: none;
}

@media (min-width: 600px) {
	.nav {
		flex-direction: row;
		justify-content: flex-end;
	}
}

.item {
    margin: 0;
    padding: 0;
	  border-bottom: 1px solid #ccc;
}

.nav a:link, .nav a:visited {
	  display:block;
    color: #f1f0f1;
    background-color: #6eacde;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Arimo', sans-serif;
}

.nav a:hover, .nav a:active {
    background-color: #214b74;
}


.caption {
    color: black;
    font-family: 'Open Sans', arial; sans-serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

.container-2{
	display:flex;
	flex-direction:row;
	flex-wrap; wrap;
	justify-content: space-around;
	font-family: 'Arimo', sans-serif;
}

#footer {
<<<<<<< HEAD
    color: white;
		background-color: #1e4574
=======
<<<<<<< HEAD
    color: white;
=======
=======

    color: white;
>>>>>>> 4c4fcad9fe4dabedc59a322e45b4c6237f23fb05
    color: #1e4574;
		background-color: #1e4574;
>>>>>>> b7985dec4884e6d81377834019e5bc7313a3772f
    font-family: Georgia, "Times New Roman", serif;
>>>>>>> 94c96ac3aee0632a7138de6485f40d562ba7857a
    font-size: 0.8em;
    border-top: 1px solid black;
		display: flex;
		justify-content: space-around;
		flex-direction: row;
}


img {
	border: none;
}
