/*styles go here*/

/*p {
    color: red;
}*/

p {
	color: #000000;
    font-family: 'Open Sans', arial; sans-serif;
}

h1 {
    font-family: 'Arimo', sans-serif;
		font-style: bold;
		font-size: 30px;
		color: #214b74;
}

h2 {
	color: #214b74;
	font-family: 'Open Sans', arial; sans-serif;
	font-style: bold;
	font-size: 25px;
	text-align: center;
	margin-bottom: 5px;
}

h3 {
	font-family: 'Arimo', sans-serif;
	font-style: bold;
	font-size: 15px;
	color: #214b74;
	text-align: center;
}

h4 {
	color: #214b74;
	font-family: 'Open Sans', arial; sans-serif;
	font-style: bold;
	font-size: 15px;
	text-align: left;
}


ul {
	color: #000000;
      font-family: 'Open Sans', arial; sans-serif;
			font-style: normal;
			font-size: 16px;
}

.list {
	font-style: bold;
	font-size: 20px
}


#container{
    width: 95%;
    margin: 0 auto;
}

.nav {
		display: flex;
		flex: 0 1 0;
		flex-direction: column;
    padding: 0;
	  list-style-type: none;
}

.class {
		display: flex;
		flex-direction: row;
    padding: 0;
	  list-style-type: none;
}

/* @media (min-width: 600px) {
	.nav {
		flex-direction: row;
		justify-content: flex-end;
	}
} */

.logo {
		justify-content: flex-start;
}

.responsive {
	width: 100%;
  height: auto;
	max-width: 400px;
}

.partner {
	color: #6eacde;
}

.item {
		border-radius: 3px;
		background-color: #6eacde;
		padding: 15px;
		margin: 2px;
	  border-bottom: 1px solid #ccc;
}

.nav a:link, #nav a:visited {
	  display:block;
    color: #f1f0f1;
    background-color: #6eacde;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Arimo', sans-serif;
}

.nav a:hover, #nav a:active {
    background-color: #214b74;
}


.caption {
    color: black;
    font-family: 'Open Sans', arial; sans-serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

.container-2{
	display:flex;
	flex-direction:column;
	flex-wrap; wrap;
	justify-content: space-between;
	padding: 15px;
	font-family: 'Arimo', sans-serif;
}

.container-2 a:link, a:visited {
	display:block;
	color: #f1f0f1;
	background-color: #214b74;
	font-weight: bold;
	text-align:center;
	text-decoration: none;
	padding: 4px;
}

.container-2 a:link, a:hover {
	color: #6eacde;
}

.item-7 {
	border-radius: 3px;
	background-color: #214b74;
	padding: 15px;
	margin: 2px;
	border-bottom: 1px solid #ccc;
}

.item-8 {
	border-radius: 3px;
	background-color: #214b74;
	padding: 15px;
	margin: 2px;
	border-bottom: 1px solid #ccc;
}

.item-9 {
	border-radius: 3px;
	background-color: #214b74;
	padding: 15px;
	margin: 2px;
	border-bottom: 1px solid #ccc;
}

/*column style goes here*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
	padding-bottom: 15px;
	padding-top: 15px;
}

.fellowname {
	color: #6eacde;
  font-family: 'Open Sans', arial; sans-serif;
	font-style: bold;
	font-size: 22px;
	text-align: center;
	margin-bottom: 5px;
}

.location {
	color: #6eacde;
  font-family: 'Arimo | Open Sans', arial; sans-serif;
	font-style: normal;
	font-size: 16px;
	text-align: center;
}

.mugs {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	gap: 20px;
}

.mugs li{
	background-color: #6eacde;
	padding: 10px;
}

/*about blocks style goes here*/
.cards {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
		flex-wrap: wrap;

}

.cards li {
    background-color: #6eacde;
    border: 1px solid #a5a7a9;
    padding: 10px;
    border-radius: 5px;
		margin: 10px;
		height: auto;
		width: 250px;
}

.cards h2 {
		display: flex;
		align-content: center;
	}

.cards p {
			display: flex;
			align-content: center;
		}

.cards img {
	height: auto;
	width:60%;
}

.mugs {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: 98px 98px 98px;
	grid-gap: 5px;
	gap: 5px;
}

.mugs li{
	background-color: #6eacde;
	padding: 5px;
	list-style: none;
}

.mugbox {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  max-width: 500px;
  margin: auto;
	margin-bottom: 25px;
  text-align: center;
}

/* @media (min-width: 600px) {
.nav {
	flex-direction: row;
} */

.mug1{
	grid-column: 1;
	grid-row: 1;
}

.mug2{
	grid-column: 2;
	grid-row: 1;
}

.mug3{
	grid-column: 3;
	grid-row: 1;
}

.mug4{
	grid-column: 1;
	grid-row: 2;
}

.mug5{
	grid-column: 2;
	grid-row: 2;
}

.mug6{
	grid-column: 3;
	grid-row: 2;
}

.mug7{
	grid-column: 1;
	grid-row: 3;
}

.mug8{
	grid-column: 2;
	grid-row: 3;
}

.mug9{
	grid-column: 3;
	grid-row: 3;
}

.mug10{
	grid-column: 1;
	grid-row: 4;
}

.mug11{
	grid-column: 2;
	grid-row: 4;
}

#footer {
    color: white;
		background-color: #1e4574;
    font-family: "Open Sans Regular", "Georgia", serif;
    font-size: 16px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		padding: 40px;
		align-items: center;
		align-content: space-between;
}

.footeritem-1 {
	border-radius: 3px;
	padding: 15px;
	margin: 2px;
}

.footeritem-2 {
		color: #1e4574;
		background-color: #f1f0f1;
		border-radius: 10px;
		padding: 15px;
		margin: 2px;
	}

.footeritem-3 {
	color: white;
	background-color: #aa0000;
	border-radius: 20px;
	padding: 10px;
	margin: 25px;
}

.footeritem-3 a {
	text-decoration: none;
}

.footeritem-4 {
	color: white;
	display: flex;
	align-content:flex-end;
	font-family: open sans;
	align:left;
}

img {
	border: none;
}

/*------------PUT DESKTOP STYLES HERE!----
----------------------------------------*/

@media screen and (min-width:800px){

	.nav {
			display: flex;
			flex: 0 1 0;
			flex-direction: column;
	    padding: 0;
		  list-style-type: none;
	}
	
}
